body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  background: url('./assets/quentin-menini-toDe_sVtxmE-unsplash.jpg') center no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  position: fixed;
  top: 0;
}

.view {
  display: block;
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
  border-radius: 50%;
  text-align: center;
  transition: all .3s linear;
}

.view:hover {
  background: transparent;
}

.view:hover i {
  color: #f6f6f6
}

.view i {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #010101;
  transition: all .3s linear;
  line-height: 30px;
}

.view-1 {
  top: 200px;
  left: 390px
}

.view-2 {
  top: 370px;
  left: 180px
}

.view-3 {
  top: 340px;
  left: 600px
}

.view-4 {
  top: 400px;
  left: 1100px
}

.view-5 {
  top:  490px;
  left: 800px
}

.view-6 {
  top: 620px;
  left: 720px
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #01010130;
  z-index: 2;
  transition: all .3s linear;
  visibility: hidden;
  opacity: 0;
}

/* MODAL  */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 300px;
  background: #f6f6f6;
  z-index: 3;
  padding: 20px;
  transition: all .3s linear;
  visibility: hidden;
  opacity: 0;
}

.modal .close {
  display: block;
  width: fit-content;
  margin: 0 0 0 auto;
  font-size: 25px;
}


.active {
  visibility: visible;
  opacity: 1;
}